// import bootstrap
$icon-font-path: '~bootstrap/fonts/bootstrap/';
@import '~bootstrap/stylesheets/bootstrap';

@import 'popup';
@import 'settings';

input, textarea, select {
  box-shadow: 0 1px 2px rgba(0,0,0,.23)!important;
  border: 0 !important;
}

.green-button {
  background: linear-gradient(to bottom,#70b500 0,#64a200 100%);
  box-shadow: 0 1px 0 #4d4d4d;
  color: #fff!important;
  padding: 5px 20px;
  line-height: 22px;
  font-weight: bold;
}

.green-button:hover {
  background: linear-gradient(to bottom,#64a200 0,#578c00 100%);
}
