body {
    min-width: 320px;
    margin: 8px;
    background-color: #f0f0f0 !important;
}

.options-list {
    background-color: #f0f0f0;
}

.settings-link {
    float: left;
}

.logout-link {
    float: right;
}

.trello-link {
    height: 30px;
}

.trello-logo {
    cursor: pointer;
    width: 75px;
}

.add-card-form {
    margin-bottom: 20px;
}

.add-button {
    background: linear-gradient(to bottom,#70b500 0,#64a200 100%);
    box-shadow: 0 1px 0 #4d4d4d;
    color: #fff!important;
    padding: 5px 20px;
    line-height: 22px;
    font-weight: bold;
}

.add-button:hover {
    background: linear-gradient(to bottom,#64a200 0,#578c00 100%);
}

input, textarea, select {
    box-shadow: 0 1px 2px rgba(0,0,0,.23)!important;
    border: 0 !important;
}

.clear-button {
    float: right;
}
